/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');

:root{
    --1-color:#DE0E28;
    --2-color:#00D9B9;
}

@font-face {
    font-family:'matter';
    src: url("matter-light.woff2");
}

@font-face {
    font-family:'rej';
    src: url("Rejouice-Headline.woff2");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "matter", sans-serif;
}



@media screen and (max-width: 768px) {



    .main{
        width: 100%;
        
    }

    section{
        width: 100%;
        
    }

    .hero{
        width: 100%;
        
        
    }

    .hero video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    }

    .hero-content{
        height: 100%;
        width: 100%;
        /* background-color: black; */
        position: relative;
        z-index: 4;
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    nav{
        position: fixed;
    }
    
    nav h3{
        font-family: 'rej';
        margin-top: -5vw;
        margin-left:-70vw;
        color: gray;
        
    }



    .herotext{
        font-size: 18vw;
        font-family:'rej';
        padding-top: 46vh;
        text-align: center;
    }

    .hero-content h3{
        text-align: center;
        line-height:10vw;
        padding-bottom: 20vh;
        padding-top:4vh;
    }

    .vdo{
        height: 50vh;
    }

    .vdo video{
        height: 40vh;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    .give{
        margin-bottom: 55vw;
    }

    .gvdo{
        height:60vw;
        width: 60vw;
        
        margin-left: 20vw;
        overflow: hidden;
    }

    .gvdo video{
        height:inherit;
        width: inherit;
        object-fit: cover;
        position: absolute;
    }

    .give p{
        margin: 10vw 5vw;
    }

    .para1, .para2{
        font-size: 7.5vw;
        text-align: left;
        padding-right: 6vw;
        font-weight: 500;
        
    }

    
    
    .about{
        margin: 20vw 0vw;
    }

    .about p{
        margin-left: 5vw;
    }

    .abosec{
        width: 100%;
        
        
    }

    .aboimg{
        align-items: center;
        height: 45vw;
        width: 45vw;
        border-radius: 50%;
        background-color: #00D9B9;
        overflow: hidden;
        margin-top: 20vw;
        margin-left: 30vw;
        
    }

    .aboimg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        
    }

    .abome{
        width: 100%;
        padding-top:15vw;
        text-align: justify;
        font-weight: 100;
        line-height: 7vw;
    }

    .please{
        padding-top: 5vw;
        font-weight: 500;
    }

    .footer{
        width: 100%;
        height: 77vh;
        background-color: #0F0F0F;
        color: #fff;
        
    }

    .footer h1{
        font-size: 10vw;
        padding-top:10vw;
        padding-left: 3vw;
        padding-bottom: 20vw;
    }

    

    .link{
        width: 90%;
        border-top: 1px  solid gray ;
        align-items: center;
        margin-left:5vw ;
        margin-top: 15vw;
        
    }

    a{
        color: #fff;
        text-decoration: none;
    }

    .link1{
        
        align-items: center;
        text-align: center;
        padding-top: 25vw; 
        text-align: justify;
    }

    .link1 a{
        text-align: center;
    }

    .link1 h3{
        padding: 5vw;
        color: gray;
        font-size:5vw;
    }

    .footer p{
        color: gray;
        padding: 10vw;
    }

    .footer h4{
        padding: 3vw 0;
        margin-left:26vw;
        margin-right: 8vw;
        font-size: 4.5vw;
        word-spacing: 10px;
        border-bottom:1px solid #fff;
    }

    .link2{
        font-size:3.5vw;
        margin-top: 12vw;
    }

}